@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
}

main {
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 10vh;
    background-color: hsl(0, 100%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 5;
}

.navbar__links, .navbar__button {
    display: none;
}

.navbar__logo {
    max-width: 160px;
}

.navbar__burger-icon {
    border: none;
    background-color: hsl(0, 100%, 100%);
}

.hero {
    background-color: hsl(0, 0%, 98%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero__image.intro {
    display: none;
}

.hero__section {
    max-width: 100%;
}

.hero__image {
    position: absolute;
    top: 0;
}

.hero__image.intro-mobile {
    width: 100%;
    top: -78px;
}

.hero__image.mockups {
    width: 88%;
    top: -120px;
}

.hero__section--images {
    display: flex;
    justify-content: center;
    height: 40vh;
}

.hero__section--content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    padding: 30px;
}

.hero__title {
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    font-size: 2.2em;
    text-align: center;
}

.hero__paragraph {
    color: hsl(233, 8%, 62%);
    font-size: 0.8em;
    text-align: center;
}

.request-button {
    background: linear-gradient(to top right, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
    color: white;
    width: 150px;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    font-size: 0.75em;
    padding: 15px;
}

.reasons {
    position: relative;
    background-color: hsl(220, 16%, 96%);
    padding: 30px;
    height: 170vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reasons__title {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 1.8em;
    text-align: center;
}

.reasons__paragraph {
    color: hsl(233, 8%, 62%);
    font-size: 0.8em;
    text-align: center;
}

.reasons__subtitle {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 1.4em;
    text-align: center;
}

.reasons__section-block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 25vh;
}

.reasons__section-block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 135vh;
}

.reasons__section-reasondiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.reasons__img {
    max-width: 80px;
    width: 100%;
    margin: 0 auto;
}

.articles {
    position: relative;
    background-color: hsl(0, 0%, 98%);
    max-width: 100%;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 205vh;
    gap: 30px;
}

.articles img {
    width: 100%;
}

.articles__title {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 1.7em;
    text-align: center;
}

.articles__section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 180vh;
}

.articles__card {
    max-width: 300px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    border-radius: 5px;
    background-color: hsl(0, 100%, 100%);
}

.articles__card-img {
    height: 50%;
    border-radius: 5px 5px 0 0;
}

.articles__card-content {
    height: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.articles__card-writter {
    color: hsl(233, 8%, 62%);
    font-size: 0.5em;
    text-align: justify;
}

.articles__card-title {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 0.8em;
    text-align: justify;
}

.articles__card-paragraph {
    color: hsl(233, 8%, 62%);
    font-size: 0.7em;
    text-align: justify;
}

.footer {
    position: relative;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 25px;
    width: 100%;
    gap: 30px;
}

.footer__section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
}

.footer__section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
}

.footer__logo {
    max-width: 50%;
    width: 100%;
}

.footer__links {
    max-width: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer__nav a {
    text-decoration: none;
    color: hsl(220, 16%, 96%);
    font-size: 0.7em;
    
}

.footer__paragraph {
    color: hsl(233, 8%, 62%);
    font-size: 0.7em;
}

@media (min-width: 1024px) {
    .navbar {
        padding: 30px 140px;
    }

    .navbar__links {
        max-width: 400px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .navbar__links a {
        text-decoration: none;
        color: hsl(233, 8%, 62%);
        font-size: 0.75em;
    }

    .navbar__button {
        display: block;
    }

    .navbar__logo {
        max-width: 160px;
        width: 100%;
    }

    .navbar__burger-icon {
        display: none;
    }

    .request-button {
        font-size: 0.75em;
    }

    .hero {
        flex-direction: row-reverse;
        position: relative;
        height: 70vh;
    }

    .hero__image.intro-mobile {
        display: none;
    }

    .hero__section {
        width: 50%;
        height: 100%;
    }

    .hero__section--images {
        position: relative;
        z-index: 3;
    }

    .hero__image {
        position: absolute;
    }

    .hero__image.intro {
        display: block;
        top: -260px;
        right: -500px;
        z-index: 0;
    }

    .hero__image.mockups {
        top: -160px;
        right: -120px;
        width: 100%;
        z-index: 4;
    }

    .hero__section--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        padding: 135px;
        gap: 30px;
    }

    .hero__title {
        font-weight: 300;
        font-size: 2.5em;
        text-align: left;
    }

    .hero__paragraph {
        font-size: 0.9em;
        text-align: left;

    }

    .reasons {
        z-index: 2;
        position: relative;
        padding: 100px 135px;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .reasons__title {
        color: hsl(233, 26%, 24%);
        font-weight: 300;
        font-size: 2em;
        text-align: left;
    }

    .reasons__paragraph {
        color: hsl(233, 8%, 62%);
        font-size: 0.9em;
        text-align: left;
    }

    .reasons__paragraph-textdesk {
        font-size: 0.8em;
        line-height: 25px;
    }

    .reasons__subtitle {
        color: hsl(233, 26%, 24%);
        font-weight: 300;
        font-size: 0.9em;
        text-align: left;
    }

    .reasons__section-block1 {
        width: 60%;
        gap: 25px;
        height: auto;
    }

    .reasons__section-block2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        gap: 75px;
    }

    .reasons__section-reasondiv {
        width: 20%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .reasons__img {
        max-width: 65px;
        width: 100%;
        margin: 0;
    }

    .articles {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 75vh;
        gap: 50px;
        padding: 100px 135px;
    }

    .articles__title {
        font-weight: 300;
        font-size: 2em;
        text-align: left;
    }

    .articles__section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .articles__card {
        max-width: 20%;
        width: 100%;
        max-height: 450px;
    }

    .articles__card-img {
        height: 50%;
        border-radius: 5px 5px 0 0;
    }

    .articles__card-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .articles__card-writter {
        font-size: 0.5em;
        text-align: left;
    }

    .articles__card-title {
        font-weight: 300;
        font-size: 0.8em;
        text-align: left;
    }

    .articles__card-paragraph {
        font-size: 0.7em;
        text-align: left;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4; 
                line-clamp: 4; 
        -webkit-box-orient: vertical;
    }

    .footer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 135px;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }

    .footer__logo {
        max-width: 180px;
        width: 100%;
    }

    .footer__section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        height: 100%;
        width: auto;
    }

    .footer__links {
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 25px;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 120px;
        gap: 30px;
    }

    .footer__nav a {
        text-decoration: none;
        color: hsl(220, 16%, 96%);
        font-size: 0.75em;
        text-align: left;
        width: 180px;
        
    }

    .footer__section2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 25px;
        height: 100%;
        width: auto;
    }

    .footer__section2 button {
        align-items: flex-end;
    }

    .footer__paragraph {
        color: hsl(233, 8%, 62%);
        font-size: 0.8em;
        text-align: right;
    }
}




@media (min-width: 1440px) {
    .navbar {
        padding: 30px 140px;
    }

    .navbar__links {
        max-width: 450px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .navbar__links a {
        text-decoration: none;
        color: hsl(233, 8%, 62%);
        font-size: 0.80em;
    }

    .navbar__button {
        display: block;
    }

    .navbar__logo {
        max-width: 180px;
        width: 100%;
    }

    .navbar__burger-icon {
        display: none;
    }

    .request-button {
        font-size: 0.80em;
    }

    .hero {
        flex-direction: row-reverse;
        position: relative;
        height: 70vh;
    }

    .hero__image.intro-mobile {
        display: none;
    }

    .hero__section {
        width: 50%;
        height: 100%;
    }

    .hero__section--images {
        position: relative;
        z-index: 3;
    }

    .hero__image {
        position: absolute;
    }

    .hero__image.intro {
        display: block;
        top: -260px;
        right: -500px;
        z-index: 0;
    }

    .hero__image.mockups {
        top: -160px;
        right: -120px;
        width: 100%;
        z-index: 4;
    }

    .hero__section--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        padding: 135px;
        gap: 30px;
    }

    .hero__title {
        font-weight: 300;
        font-size: 2.8em;
        text-align: left;
    }

    .hero__paragraph {
        font-size: 1em;
        text-align: left;

    }

    .reasons {
        z-index: 2;
        position: relative;
        padding: 100px 135px;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .reasons__title {
        color: hsl(233, 26%, 24%);
        font-weight: 300;
        font-size: 2em;
        text-align: left;
    }

    .reasons__paragraph {
        color: hsl(233, 8%, 62%);
        font-size: 1em;
        text-align: left;
    }

    .reasons__paragraph-textdesk {
        font-size: 0.8em;
        line-height: 25px;
    }

    .reasons__subtitle {
        color: hsl(233, 26%, 24%);
        font-weight: 300;
        font-size: 1.2em;
        text-align: left;
    }

    .reasons__section-block1 {
        width: 60%;
        gap: 25px;
        height: auto;
    }

    .reasons__section-block2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        gap: 75px;
    }

    .reasons__section-reasondiv {
        width: 20%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .reasons__img {
        max-width: 65px;
        width: 100%;
        margin: 0;
    }

    .articles {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 75vh;
        gap: 50px;
        padding: 100px 135px;
    }

    .articles__title {
        font-weight: 300;
        font-size: 2em;
        text-align: left;
    }

    .articles__section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .articles__card {
        max-width: 20%;
        width: 100%;
        max-height: 450px;
    }

    .articles__card-img {
        height: 50%;
        border-radius: 5px 5px 0 0;
    }

    .articles__card-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .articles__card-writter {
        font-size: 0.5em;
        text-align: left;
    }

    .articles__card-title {
        font-weight: 300;
        font-size: 0.8em;
        text-align: left;
    }

    .articles__card-paragraph {
        font-size: 0.7em;
        text-align: left;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4; 
                line-clamp: 4; 
        -webkit-box-orient: vertical;
    }

    .footer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 135px;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }

    .footer__logo {
        max-width: 180px;
        width: 100%;
    }

    .footer__section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        height: 100%;
        width: auto;
    }

    .footer__links {
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 25px;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 120px;
        gap: 30px;
    }

    .footer__nav a {
        text-decoration: none;
        color: hsl(220, 16%, 96%);
        font-size: 0.75em;
        text-align: left;
        width: 180px;
        
    }

    .footer__section2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 25px;
        height: 100%;
        width: auto;
    }

    .footer__section2 button {
        align-items: flex-end;
    }

    .footer__paragraph {
        color: hsl(233, 8%, 62%);
        font-size: 0.8em;
        text-align: right;
    }
}

